/* styles.css */
body {
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: "roboto", sans-serif;
    margin: 0;
}

.page {
    display: flex;
    min-height: 100vh;
    margin: 0;
}


/* SIDEBAR */

.sidebar {
    background-color: #35374B;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 30px;
    padding-right: 40px;
}

h1 {
    color: deeppink;
}

h3 {
    color: #50727B;
}

.nav {
    display: flex;
    flex-direction: column;
}

.navLink {
    border: none;
    background-color: #35374B;
    color: white;
    text-align: start;
    margin-bottom: 10px;
}

.navLink:hover {
    color: #78A083;
}

.projectNav {
    display: flex;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.projectClass {
    border: none;
    background-color: #35374B;
    color: #344955;
    text-align: start;
    margin-bottom: 10px;
}

.projectClass:hover {
    color: #78A083;
}


/* PAGE CONTENT */

.content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.content h1 {
    color: white;
}


/* Events */

.taskBox {
    border: solid 3px #344955;
    border-radius: 10px;
    width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: #35374B;
    display: flex;
    justify-content: space-between;
}

.taskBox:hover {
    border-color: white;
}


/* Completed Box */
.completeBox {
    border: solid 3px #888888;
    border-radius: 10px;
    width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: #888888;
    text-decoration: line-through;
}



/* LEFT */
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

/* CENTER */
.center {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.tBar {
    display: flex;
    font-size: x-large;
    justify-content: space-between;
}

.dBox {
    font-size: small;
}

.icons {
    text-align: right;
}

.dateBox {
    display: flex;
    justify-content: space-between;
}

.dbl {
    text-align: left;
    font-size: small;
    color: #888888;
}

.dbr {
    text-align: right;
    font-size: small;
    color: #78A083;
}

/* RIGHT */
.right {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #35374B;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
    border: 5px solid #50727B;
    border-radius: 20px;
}

.modalSplit {
    display: flex;
}

.modalSplit div {
    margin-right: 30px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal input {
    margin-bottom: 20px;
}

.modal div {
    margin-bottom: 20px;
}

input[type=text] {
    background-color: black;
    color: white;
    padding: 10px;
    border: 3px solid #344955;
    border-radius: 15px;
}

textarea {
    background-color: black;
    color: white;
    padding: 10px;
    border: 3px solid #344955;
    border-radius: 15px;
}

input[type=date] {
    background-color: black;
    color: white;
    padding: 10px;
    border: 3px solid #344955;
    border-radius: 15px;
}

select {
    background-color: black;
    color: white;
    padding: 10px;
    border: 3px solid #344955;
    border-radius: 15px;
}

#fSubmit {
    background-color: #344955;
    border: 3px solid #50727B;
    border-radius: 20px;
    color: white;
    padding: 15px 35px 15px 35px;

}

#fSubmit:hover {
    background-color: #50727B;
    border: 3px solid #344955;


}